# Rust
target/
*.swp

# Node
node_modules/
.svelte-kit/
build/
dist/

# Environment
.env
.env.*
!.env.example
!.env.production.example

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
postgres-data/
